<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Books</title>
    <style>
        td {
            width: 200px;
            text-align: center;
        }

        th {
            text-align: center;
        }

        table, th, td {
            border-collapse: collapse;
            border: 1px solid black;
        }



    </style>
</head>
<body>
<a th:href="@{/logout}">Logout</a>
<a th:href="@{/users}">Users</a>
<a th:href="@{/report}">Report</a>

<h1>Books:</h1>
<h2 th:text="${message}"></h2>

<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>ISBN</th>
        <th>Author</th>
        <th>Genre</th>
        <th>Quantity</th>
        <th>Price - RON</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="book : ${books}">
        <td th:text="${book.id}"></td>
        <td th:text="${book.name}"></td>
        <td th:text="${book.isbn}"></td>
        <td th:text="${book.author}"></td>
        <td th:text="${book.genre}"></td>
        <td th:text="${book.quantity}"></td>
        <td th:text="${book.price}"></td>
    </tr>
    </tbody>
</table>

<hr/>
<br/>
<h3>All fields must me completed</h3>
<form action="#" th:action="@{/admin-books}" name="book" id="book" th:object="${book}" method="post">
    Id: <br/>
    <input type="number" id="id" name="id" th:field="${book.id}"/> <br/>
    Title: <br/>
    <input type="text" id="name" name="name" th:field="${book.name}"/> <br/>
    Isbn: <br/>
    <input type="text" id="isbn" name="isbn" th:field="${book.isbn}"/> <br/>
    Author: <br/>
    <input type="text" id="author" name="author" th:field="${book.author}"/> <br/>
    Genre: <br/>
    <input type="text" id="genre" name="genre" th:field="${book.genre}"/> <br/>
    Quantity: <br/>
    <input type="number" id="quantity" name="quantity" th:field="${book.quantity}"/> <br/>
    Price: <br/>
    <input type="number" id="price" name="price" th:field="${book.price}"/> <br/>

    <button type="submit" name="create">Create</button>
    <button type="submit" name="update">Update</button>
</form>
<hr/>
<form>
    Id: <br/>
    <input type="number" id="deleteId" name="deleteId"/> <br/> <br/>
    <button type="submit" name="delete">Delete</button>
</form>
</body>
</html>